<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<html>
<head>
    <title>OneDir</title>
</head>
{% block body %}
  <h2 align="center">Register New User</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <div align="center">
    <form class="form form-horizontal" action="{{ url_for('register') }}" method=post>
        <dl>
          <dt>Username:
          <dd><input type=text name=username>
          <dt>Password:
          <dd><input type=password name=password>
          <dt>Confirm Password:
          <dd><input type=password name=confirm>
          <dd><input type=submit value=Register>
        </dl>
    </form>
  </div>
{% endblock %}
</body>
</html>